body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h4{
    font-family: cursive;
    text-align: center;

}
h5{
    text-align: center;
}
img{
    border-radius: 100%;
    box-shadow: 5px;
    
    
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-all;
    margin: 100px;
    text-align: center;
    background-color: aquamarine;
    border-bottom: #FFEFBA;
    border-radius: 100%;
box-shadow: 5px 5px;

}
